.container__tituloprincipal {
    height: $altura;
    @include titulo;
}
p {
    font-family: $fuente-primaria;
}

.card-body {
    color: $color-cards;
    button {
        transition: all 1s;
        &:hover {
            transform: scale(1,1);
            background-color: $color-cuaternario;
            letter-spacing: 1ch;
            color: $color-primario;
            box-shadow: 10px 10px 10px -4px $color-sombra-purple, -10px 10px 12px -4px $color-sombra-purple;
    }
    a{
        color: $color-primario;
        &:hover {
            color: $color-primario;
        }
     }
    }
}

.container__carrousel {
    width: 30%;
}

.container__fotos{
    img{
        height: 23rem;
        width: 23rem;
    }
}

.container__formulario {
    color:$color-primario;
    border: solid $color-primario;
    background-color: $color-terciario;
    border-radius: 5px;
    .container__formulario--botonsend {
        background-color: $color-boton-green;
        color: $color-primario;
        border: solid $color-primario;
        margin: 0.5rem;
        padding: 0.5rem;
        border-radius: 5px;
        transition: all 1s;
        &:hover {
            transform: scale(1,1);
            letter-spacing: 1ch;
            -webkit-box-shadow: 10px 10px 10px -4px $color-sombre-green, -10px 10px 12px -4px $color-sombra-celeste;
            -moz-box-shadow: 10px 10px 10px -4px $color-sombre-green, -10px 10px 12px -4px $color-sombra-celeste;
            box-shadow: 10px 10px 10px -4px $color-sombre-green, -10px 10px 12px -4px $color-sombra-celeste;
        }
    }

    .container__formulario--botonreset{
        @extend .container__formulario--botonsend;
        background-color: $color-boton-pink;
        &:hover{
            -webkit-box-shadow: 10px 10px 10px -4px $color-sombra-rosa, -10px 10px 12px -4px $color-sombra-purple;
            -moz-box-shadow: 10px 10px 10px -4px $color-sombra-rosa, -10px 10px 12px -4px $color-sombra-purple;
            box-shadow: 10px 10px 10px -4px $color-sombra-rosa, -10px 10px 12px -4px $color-sombra-purple;
        }
    }
}
