$color-primario: #ffffff;
$color_secundario: #181129;
$color-terciario: #f0f8ff4a;
$color-cuaternario: #2c1661;
$color-cards: #000000;

$fuente-primaria: 'Roboto Condensed', sans-serif;
$fuente-secundaria: 'Electrolize', sans-serif;
$altura: 10rem;
