$color-primario: #ffffff;
$color_secundario: #181129;
$color-terciario: #f0f8ff4a;
$color-cuaternario: #2c1661;
$color-cards: #000000;
$color-sombra-purple: #a63fd3;
$color-boton-green:#5b865b;
$color-sombre-green: #7bc980;
$color-sombra-celeste:#8ebbe4;
$color-boton-pink:#a73e77;
$color-sombra-rosa:#a73e77;

$fuente-primaria: 'Roboto Condensed', sans-serif;
$fuente-secundaria: 'Electrolize', sans-serif;
$altura: 10rem;
